<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zolmeister.bluesquare" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BlueSquare</name>
    <description>
	An experiment with shapes
    </description>
    <author email="zolmeister0@gmail.com" href="http://zolmeister.com">
	Zolmeister
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
